.Pokedex{
    text-align: center;
}
.Pokedex-cards{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
    border-radius: 3px;
}

.Pokedex-winner{
color: green;
}

.Pokedex-loser{
color: red;
}